.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    background: #252526;
    align-items: baseline;
}

.text {
    color: #bebebe;
    text-decoration: none;
}